@media screen and (min-width:780px){

.promo
{

padding:3em 2em;
box-sizing:border-box;

}
div figure .logo
{
	width: 250px ;
	display: inline;
}

aside
{
	
	width: 31%;	
	float: right;
	box-sizing:border-box;	
	float: right;
	padding:0.5em 1em;
	border-radius: 10px;
	margin-top: 0.5em;
}
nav
{
	clear: both;
}
aside ul 
{
	text-align: left;
	border-bottom: 1px solid #cccccc;
	font-size: 12px;
}

aside article figure img

	{
		max-width: 200px;
		width:100%;
	}

	.item-tabs 
	{
		padding: 0;
		margin: 0;

	}

	.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

	.item-tabs .tabs figure img
	{
		max-width:100px;
		width:100%;
	}
	.item-tabs-productos
	{
		
		width: 65%;
		float: left;
		padding: 0;				
		box-sizing:border-box;
		

	}

	

		.item-tabs-productos .tabs-productos
	{
		display: inline-block;
		vertical-align: top;		
		max-width: 	150px;
		width: 100%;
		padding: 0.5em;

	}

		.item-tabs-productos .tabs-productos figure 
	{
		

	

	}

	.item-tabs-productos .tabs-productos figcaption 
{	
	font-size: 10px;
	list-style-type: none;
	text-align: left;
	padding:  0 ;
	
	max-width: 150px;
	width: 100%;
	color: #262626;
	box-sizing:border-box;

}

.item-tabs-productos .tabs-productos figcaption ul
{	
	
	list-style-type: none;
	

}

.dline
{
	border-bottom:  1px solid #6e6e6e;
	margin: 0.5em;
	color: #6e6e6e;
	font-weight: normal;

	
}


}


@media  (min-width: 900px) {




.item-tabs-productos
	{
		padding:0;
	}

	.item-tabs-productos .tabs-productos
	{
		display: inline-block;
		vertical-align: top;
		
		margin: 0 ;
		max-width: 	190px;
		width: 100%;
		padding: 1em;

	}

		.item-tabs-productos .tabs-productos figcaption 
{	
	font-size: 10px;
	list-style-type: none;
	text-align: left;
	padding:  0.5em ;
	
	max-width: 190px;
	width: 100%;
	color: #262626;
	box-sizing:border-box;

}

	.item-tabs-productos .tabs-productos figure img
	{
		max-width: 

	}

.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

.item-tabs .tabs figure img
	{
		max-width:170px;
		width:100%;
	}

@media  (min-width: 1100px) {

.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

.item-tabs .tabs figure img
	{
		max-width:200px;
		width:100%;
	}

	.item-tabs-productos
	{
		padding:0.1em 0.3em;
		box-sizing:border-box;
		border-radius: 10px;
	}

	.item-tabs-productos .tabs-productos
	{
		display: inline-block;
		vertical-align: top;
		
		margin:0.5em 0 ;
		max-width: 	170px;
		width: 100%;
		padding: 0.5em 0.5em;

	}

	.item-tabs-productos .tabs-productos figure img
	{
		max-width: 180px;
		width: 100%;

	}






}
