@media screen and (min-width:780px){

body {

	background: red;
	
}


.promo
{
border: 1px solid green;
padding:3em 2em;
box-sizing:border-box;

}
div figure .logo
{
	width: 250px ;
	display: inline;
}

aside
{
	display: inline-block; 
	vertical-align: top;
	width: 30%;
	padding: 2em;
	float: right;
	box-sizing:border-box;
	border: 1px dotted black;
}

aside ul 
{
	text-align: left;
	border: 1px solid #cccccc;
}

aside article figure img

	{
		max-width: 200px;
		width:100%;
	}

	.item-tabs 
	{
		padding: 0;
		margin: 0;

	}

	.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		border:1px dotted blue;
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

	.item-tabs .tabs figure img
	{
		max-width:100px;
		width:100%;
	}
	.item-tabs-productos
	{
		
		width: 65%;
		display: inline-block;
		vertical-align: top;
		border: 1px dotted black;
		padding:1em;
		box-sizing:border-box;
	}

	

		.item-tabs-productos .tabs-productos
	{
		display: inline-block;
		vertical-align: top;
		border:1px dotted blue;
		margin: 0 ;
		max-width: 	100px;
		width: 100%;
		padding: 2em;

	}

	.item-tabs-productos .tabs-productos figcaption 
{	
	font-size: 10px;
	list-style-type: none;
	text-align: left;
	padding:  0 ;
	border: 1px solid black;
	width: 120px;
	color: #262626;
	box-sizing:border-box;

}

.item-tabs-productos .tabs-productos figcaption ul
{	
	
	list-style-type: none;
	

}

.dline
{
	border-bottom:  1px double #cccccc;
	
}


}


@media  (min-width: 900px) {


body{background: blue;}



.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		border:1px dotted blue;
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

.item-tabs .tabs figure img
	{
		max-width:170px;
		width:100%;
	}

@media  (min-width: 1100px) {
body
{
	background: orange;
}
.item-tabs .tabs 
	{
		display: inline-block;
		vertical-align: top;
		border:1px dotted blue;
		padding: 0.5em 0;
		box-sizing:border-box;

			
	} 

.item-tabs .tabs figure img
	{
		max-width:200px;
		width:100%;
	}






}
