*
{
	padding: 0;
	margin: 0;
}
aside {
	width:100%;
	border: 1px dotted red ;
	margin: 0.5em auto;
	box-sizing:border-box;
}
body
{
	padding: 0;
	width: 100%;
	font-family: arial;
	text-align: center;
}

footer 
{
	width:100%;
	border: 1px dotted red ;
	margin: 0 auto;
	box-sizing:border-box;
	padding: 1em;

}


.item-tabs
{
	border:1px dotted black;
	margin: 0.5em;
	padding:0 ;
}

.item-tabs .tabs
{
	border:1px dotted red;
	margin: 0.5em auto;
	color:#1e1e1e;
}

.item-tabs .tabs figure img
{
	max-width: 780px;
	width: 100%;
}
.contenido
{
	width: 70%;
	border: 2px solid black ;
	margin: 0 auto;
	padding: 0.5em;
}

.slider-box
{
	width:100%;
	border: 2px solid orange ;
	margin: 1em auto;
	box-sizing:border-box;
}

