*
{
	padding: 0;
	margin: 0;
}

div#logo{
	
	padding: 1em;
	border-bottom: 1px;
	
} 

aside {
	width:100%;
	border: 1px solid #cccccc ;
	margin: 0.1em auto;
	box-sizing:border-box;
	padding: 0.1 0.5em;
}
aside h3
{
	text-align: center;
	background: #4C4C4C;
	color: white;
	font-weight: normal;
	padding: 0.5em;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 1em;
}
aside ul
{
	list-style-type: none;
	text-align: center;

	
}
.promo
{

padding:3em 2em;
box-sizing:border-box;

}

.promo p
{
	margin-bottom: 1em;		

}
.img-border
{
	border: 1px solid #cccccc;
	border-radius: 5px;
}



.img-small
	{
		max-width: 400px;
		width: 100%;
	}

aside#aside ul li a
{
	border-bottom: 1px solid #4c4c4c;
	color: #6e6e6e;
	text-decoration: none;
	display: block;
	padding-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 13px;
}
aside ul li{
	padding: 0.3em;
}
body
{
	padding: 0;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

footer 
{
	width:100%;
	border-top: 1px solid #cccccc ;
	margin: 0 auto;
	box-sizing:border-box;
	padding: 1em;
	clear: both;
	color: #6e6e6e;

}


.item-tabs
{
	
	margin: 0.5em;
	padding:0 ;
}

.item-tabs .tabs
{	
	margin: 0.5em auto;
	color:#1e1e1e;
}

.item-tabs-productos
{
	margin: 0.5em 0.5em 2em 0.5em;
	padding:0 ;
	border: 1px solid #cccccc;

}
.item-tabs .tabs-productos
{
	
	margin: 0.5em auto;
	color:#1e1e1e;
}

.fleft {float: left;}


div figure .logo
{
	width: 250px ;


}
.item-tabs .tabs figure img
{
	max-width: 780px;
	width: 100%;

}

.item-tabs-productos .tabs-productos 
{
	
	
	box-sizing:border-box;
	margin: 0.5em 0;
	padding: 0.5em;
	border-radius: 5px;
	

}

.item-tabs-productos .tabs-productos figure img
{
	max-width: 780px;
	width: 100%;
	border: 1px solid #cccccc;
	box-sizing:border-box;
	border-radius: 5px;
}

.item-tabs-productos .tabs-productos figcaption 
{	
	text-align: center;
	font-size: 20px;
	color: #6e6e6e;
	font-weight: normal;
	border-bottom: 1px solid #cccccc;
		
}

.item-tabs-productos .tabs-productos figcaption ul
{	
	
	list-style-type: none;
	

}

.contenido
{
	width: 80%;	
	margin: 0 auto;
	padding: 0.5em;
}

.slider-box
{
	width:100%;
	
	margin: 1em auto;
	box-sizing:border-box;
}

.txtleft { text-align: left;}
